@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: "Outfit", sans-serif;
    background-color: #FDFBF6;
}

.hero{
    width: 1200px;
    margin-left: auto;
    margin-right: auto; 
    padding: 20px;
    margin-top: 242px;
}

.hero > p{
    text-align: center;
    text-align: 20px;
    display: block;
}

.hero > h1{
    text-align: center;
    margin: 30px 0;
    font-size: 72px;
    line-height: 90.72px;
    font-weight: 700;
}

.hero > a{
    text-align: center;
    display: block;
    background-color: black;
    color: white;
    font-size: 20px;
    margin: 0 auto;
    width: fit-content;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 55px;
}

.hero > img{
    width: 296px;
    display: block;
    margin-top: 65px;
}